In [2]:
import pandas as pd
import numpy as np

In [3]:
# NEW DATA
new_df = pd.read_excel('../data/data_190626.xlsx')
existing_df = pd.read_excel('../data/AuctionData.xlsx')

In [4]:
print(new_df.columns.tolist())
print(existing_df.columns.tolist())

['Catalogue_No', 'Auction_Date', 'Plant', 'Plant_Code', 'SCode', 'State', 'H1_Buyer_Name', 'Proposed_RP', 'Quantity', 'AuctUOM', 'Last_Bid_Price', 'total_amt', 'Material_Code', 'ProductDescription']
['Catalogue_No', 'Auction_Date', 'Plant', 'Plant_Code', 'SCode', 'State', 'H1_Buyer_Name', 'Proposed_RP', 'Quantity', 'AuctUOM', 'Last_Bid_Price', 'total_amt', 'Material_Code', 'ProductDescription']

In [7]:
start_date = '2025-01-01'
required_df = existing_df[existing_df['Auction_Date'] >= start_date]

In [8]:
print("Filtered main data shape", required_df.shape)
print("Data range in filtered main data", required_df['Auction_Date'].min(), "to", required_df['Auction_Date'].max())

Filtered main data shape (382, 14)
Data range in filtered main data 2025-01-03 00:00:00 to 2025-06-19 00:00:00

In [13]:
merged_df = pd.concat([new_df, required_df], ignore_index=True)
print("Merged dataset shape:", merged_df.shape)
print("Total unique dates:", merged_df['Auction_Date'].nunique())
print("Date range in merged data:")
print(merged_df['Auction_Date'].min(), "to", merged_df['Auction_Date'].max())

Merged dataset shape: (416, 14)
Total unique dates: 102
Date range in merged data:
2025-01-03 00:00:00 to 2025-07-08 00:00:00

In [14]:
#SAVING DATA
merged_df.to_excel('../data/merged_data.xlsx', index=False)

In [15]:
#CHECKING MERGED DATA
merged_df = pd.read_excel('../data/merged_data.xlsx')
print(merged_df.head())
print(merged_df.tail())
print(merged_df.info())
print(merged_df.describe())
print(merged_df.columns.tolist())
print(merged_df.isnull().sum())
print(merged_df.duplicated().sum())
print(merged_df.shape)
print(merged_df.nunique())

                        Catalogue_No Auction_Date           Plant Plant_Code  \
0  IOCL/1100/1171/2025-2026/306/5382   2025-07-03  Tikri Kalan BP       1171
1  IOCL/1300/1375/2025-2026/242/5341   2025-06-20    Jhunjhunu BP       1375
2  IOCL/1400/1470/2025-2026/249/5345   2025-06-23    Gorakhpur BP       1470
3  IOCL/1400/1470/2025-2026/251/5394   2025-07-03    Gorakhpur BP       1470
4  IOCL/1400/1470/2025-2026/251/5394   2025-07-03    Gorakhpur BP       1470

   SCode                   State                             H1_Buyer_Name  \
0   1100    Delhi & Haryana SO                       N C METALS AND ALLOYS
1   1300  Rajasthan State Office  BANSAL ALLOYS AND METALS PRIVATE LIMITED
2   1400      Uttar Pradesh SO I                       B M TRADING COMPANY
3   1400      Uttar Pradesh SO I        SUDHESH INDUSTRIES PRIVATE LIMITED
4   1400      Uttar Pradesh SO I        SUDHESH INDUSTRIES PRIVATE LIMITED

   Proposed_RP  Quantity AuctUOM  Last_Bid_Price  total_amt  Material_Code  \
0    188833.33     8.445      MT          196000  1972692.0      838911014
1     33033.33    27.203      MT           32200  1043942.0      838900104
2    522333.33    12.919      MT          553000  8514466.0      838881064
3     33966.67   132.789      MT           31900  5783781.0      838900104
4     33966.67    19.342      MT           31900  5783781.0      838903004

  ProductDescription
0                 PR
1            14.2 Kg
2           SC Valve
3            14.2 Kg
4              19 Kg
                          Catalogue_No Auction_Date            Plant  \
411  IOCL/4300/4373/2024-2025/290/4780   2025-01-06  Devanagunthi BP
412  IOCL/3100/3173/2024-2025/322/4774   2025-01-03     Bhavnagar BP
413  IOCL/3100/3173/2024-2025/322/4774   2025-01-03     Bhavnagar BP
414  IOCL/3100/3173/2024-2025/322/4774   2025-01-03     Bhavnagar BP
415  IOCL/3100/3173/2024-2025/322/4774   2025-01-03     Bhavnagar BP

    Plant_Code  SCode                   State  \
411       4373   4300  Karnataka State Office
412       3173   3100    Gujarat State Office
413       3173   3100    Gujarat State Office
414       3173   3100    Gujarat State Office
415       3173   3100    Gujarat State Office

                       H1_Buyer_Name  Proposed_RP  Quantity AuctUOM  \
411  True Values Trading Corporation    482000.00     6.153      MT
412             GHANSHYAM INDUSTRIES     32833.33     0.056      MT
413             GHANSHYAM INDUSTRIES     32833.33     0.976      MT
414             GHANSHYAM INDUSTRIES     32833.33    43.323      MT
415             GHANSHYAM INDUSTRIES     32833.33     9.538      MT

     Last_Bid_Price  total_amt  Material_Code ProductDescription
411          484000  3549243.0      838881064           SC Valve
412           33900  2177387.0      838900054             5 KgÂ
413           33900  2177387.0      838900494          5 Kg FTLR
414           33900  2177387.0      838900104            14.2 Kg
415           33900  2177387.0      838903004              19 Kg
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 416 entries, 0 to 415
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Catalogue_No        416 non-null    object
 1   Auction_Date        416 non-null    datetime64[ns]
 2   Plant               416 non-null    object
 3   Plant_Code          416 non-null    object
 4   SCode               416 non-null    int64
 5   State               416 non-null    object
 6   H1_Buyer_Name       416 non-null    object
 7   Proposed_RP         416 non-null    float64
 8   Quantity            416 non-null    float64
 9   AuctUOM             416 non-null    object
 10  Last_Bid_Price      416 non-null    int64
 11  total_amt           416 non-null    float64
 12  Material_Code       416 non-null    int64
 13  ProductDescription  416 non-null    object
dtypes: datetime64[ns](1), float64(3), int64(3), object(7)
memory usage: 45.6+ KB
None
                        Auction_Date        SCode    Proposed_RP    Quantity  \
count                            416   416.000000     416.000000  416.000000
mean   2025-03-10 10:26:32.307692544  3098.317308  158341.426346   43.359349
min              2025-01-03 00:00:00  1100.000000   25000.000000    0.019000
25%              2025-01-30 00:00:00  1500.000000   32333.330000    7.315250
50%              2025-02-24 00:00:00  3200.000000   33966.670000   16.032500
75%              2025-03-27 06:00:00  4100.000000  188041.665000   54.250000
max              2025-07-08 00:00:00  7500.000000  530000.000000  299.925000
std                              NaN  1457.121128  190972.523465   57.274341

       Last_Bid_Price     total_amt  Material_Code
count      416.000000  4.160000e+02   4.160000e+02
mean    163148.557692  4.871745e+06   8.388979e+08
min      20100.000000  4.688790e+05   8.388811e+08
25%      31900.000000  2.233866e+06   8.389001e+08
50%      33800.000000  3.795389e+06   8.389001e+08
75%     191000.000000  6.967325e+06   8.389030e+08
max     557000.000000  1.928785e+07   8.389110e+08
std     199762.985821  3.472367e+06   9.765451e+03
['Catalogue_No', 'Auction_Date', 'Plant', 'Plant_Code', 'SCode', 'State', 'H1_Buyer_Name', 'Proposed_RP', 'Quantity', 'AuctUOM', 'Last_Bid_Price', 'total_amt', 'Material_Code', 'ProductDescription']
Catalogue_No          0
Auction_Date          0
Plant                 0
Plant_Code            0
SCode                 0
State                 0
H1_Buyer_Name         0
Proposed_RP           0
Quantity              0
AuctUOM               0
Last_Bid_Price        0
total_amt             0
Material_Code         0
ProductDescription    0
dtype: int64
0
(416, 14)
Catalogue_No          297
Auction_Date          102
Plant                  89
Plant_Code             89
SCode                  16
State                  16
H1_Buyer_Name          83
Proposed_RP           143
Quantity              333
AuctUOM                 1
Last_Bid_Price        138
total_amt             292
Material_Code          11
ProductDescription     11
dtype: int64